<!DOCTYPE html>
<html
  lang="zh-Hans-CN"
  data-node-env="%NODE_ENV%"
  data-build-env="%BUILD_ENV%"
  data-web-app-name="%WEB_APP_NAME%"
  data-web-app-version="%WEB_APP_VERSION%"
  data-web-app-last-commit="%WEB_APP_LAST_COMMIT%"
  data-web-app-last-modified="%WEB_APP_LAST_MODIFIED%"
  data-web-app-last-build="%WEB_APP_LAST_BUILD%"
  class="no-js"
>
  <head>
    <meta charset="UTF-8" />

    <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
    <link rel="icon" href="/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using @ppmp/cli" />

    <title>Vite App</title>

    <script>document.documentElement.classList.replace("no-js", "js");</script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
